
h1{
  color: yellow;
  font-family: monospace;
  text-decoration: underline;
}
.box{
  background-color: blue;
  font-size: 20px;
}
.container {
  text-align: center;
  float: right;
  padding-right: 60px;

}

}
